<p>
  BSc in Automation Engineering, double degree with University of Bologna and Tongji University in Shanghai <br> 
  MSc student in Automation Engineering at University of Bologna <i>(expected gradution in July 2019) </i> <br> 
  Alumnus of School of Excellence "Collegio Superiore" at University of Bologna <br>
  PhD Candidate, interested in multi-robots, controls and computer vision. <br> 
 </p> 
 
  <a class="url"  href=" /documents/Curriculum_vitae_Francesco_Taurone_eng.pdf ">
  [Click here for the complete CV]
  </a>
  


