<p>
  PhD Candidate, interested in control theory, multi-agent interactions, optimization and computer vision. <br> 
  MSc student in Automation Engineering at University of Bologna <i>(expected gradution in July 2019)</i>; <br> 
  Alumnus of School of Excellence "Collegio Superiore" at University of Bologna; <br>
  BSc in Automation Engineering, double degree with University of Bologna and Tongji University in Shanghai; <br>  
  
 </p> 
 
  <a class="url"  href=" /documents/Curriculum_vitae_Francesco_Taurone_eng.pdf ">
  [Click here for the complete CV] <br>
  </a>
  <a class="url"  href=" https://github.com/francescotaurone/Projects ">
  [Click here for list of projects]
  </a>


